#main_home{
    height: 71.4vh;
}
.row{
    place-items: center;
    text-align: center;
}

@media (max-width: 990px) {
    #navbarNav ul li .dropdown-center button, .btn_star{
        width: 100%;
    }
}