{% extends 'base.html' %}
{% block content %}
<main class="main-expanded">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <h2 class="text-center display-3 py-5">Usuarios</h2>
            <!-- Filtro -->
            <form action="" method="get" class="mb-4 card">
                <div class="row justify-content-center p-4">
                    <p class="card-title fw-bold">Filtrar usuarios</p>

                    <div class="col-md-4 mb-3">
                        {{form.nombre.label_tag}}
                        {{form.nombre}}
                    </div>
                    <div class="col-md-4 mb-3">
                        {{form.id_usuario.label_tag}}
                        {{form.id_usuario}}
                    </div>
                    <div class="col-md-4 mb-3">
                        {{form.documento_usuario.label_tag}}
                        {{form.documento_usuario}}  
                    </div>
                    <button type="submit" class="btn btn-primary col-md-4">Filtrar</button>
                </div>
            </form>
            <!-- Lista de usuarios -->
            <ul class="list-group">
                <li class="list-group-item list-group-item-action text-center">
                    <div class="row">
                        <div class="col-md-2">
                            <span class="badge bg-primary">ID</span>
                        </div>
                        <div class="col-md-4">
                            <span class="badge bg-black text-light">Nombre</span>
                        </div>
                        <div class="col-md-6">
                            <span class="badge bg-danger">Opciones</span>
                        </div>
                    </div>
                </li>
                {% if users %}
                    {% for u in users %}
                        {% if u.id_usuario_id %}
                        <li class="list-group-item list-group-item-action text-center">
                            <div class="row">
                                <div class="col-md-2">
                                    <h3 class="fw-bold text-success"><span class="badge bg-primary">#{{u.id_usuario_id}}</span></h3>
                                </div>
                                <div class="col-md-4">
                                    <p class="mb-0 fw-bold">{% if u.nombre and u.nombre != 'None' %}{{u.nombre}}{% else %}No diligenciado {% endif %}</p>
                                </div>
                                <div class="col-md-6 row">
                                    <a href="{% url 'detallesusuario' %}?userId={{u.id_usuario_id}}" class="mb-2 w-100">
                                        <button class="btn btn-success w-100" name="action">Ver detalles</button>
                                    </a>
                                    <a href="{% url 'detallesusuario' %}?userId={{u.id_usuario_id}}&editable=True" class="col-md-4 mb-2">
                                        <button class="btn btn-warning w-100" name="action">Modificar</button>
                                    </a>

                                    {% if u.id_usuario.is_active %}
                                    <a href="{% url 'eventHandler' %}?eventId=1&userId={{u.id_usuario_id}}" class="col-md-4 mb-2">
                                        <button class="btn btn-dark w-100">Suspender</button>
                                    </a>
                                    {% else %}
                                    <a href="{% url 'eventHandler' %}?eventId=2&userId={{u.id_usuario_id}}" class="col-md-4 mb-2">
                                        <button class="btn btn-secondary w-100">Readmitir</button>
                                    </a>
                                    {% endif %}
                                    <a href="{% url 'eventHandler' %}?eventId=3&userId={{u.id_usuario_id}}" class="col-md-4 mb-2">
                                        <button class="btn btn-danger w-100">Borrar</button>
                                    </a>
                                </div>
                            </div>
                        </li>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <p class="text-center fw-bold">No hay usuarios disponibles</p>
                {% endif %}
            </ul>
            <!-- Paginator -->
            <div class="pagination justify-content-center mt-4">
                <ul class="pagination">
                    {% if users.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1" aria-label="First">
                                <span aria-hidden="true">&laquo;&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ users.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}
                    <li class="page-item disabled">
                        <span class="page-link">Página {{ users.number }} de {{ users.paginator.num_pages }}</span>
                    </li>

                    {% if users.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ users.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ users.paginator.num_pages }}" aria-label="Last">
                                <span aria-hidden="true">&raquo;&raquo;</span>
                            </a>
                        </li>
                    {% endif %}

                    {% for i in users.paginator.page_range %}
                        <li class="page-item {% if users.number == i %}active{% endif %}">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>     
</main>

{% endblock %}