{% extends 'base.html' %}
{% block content %}
<main class="main-expanded">

    <form method="post" action="">
        <h3 class="text-primary font-weight-bold">Exportar información de Salud Mental</h3>
        {% csrf_token %}
        {{ form.as_p }}
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-danger mx-auto" name="pdf">Descargar en PDF</button>
            <button type="submit" class="btn btn-success mx-auto" name="excel">Descargar en Excel</button>
            <button type="submit" class="btn btn-warning mx-auto" name="excelCualitativa">Descargar Registro</button>
        </div>        
    </form>

</main>
{% endblock %}
