{% extends 'base.html' %}
{% block content %}
<main class="main-expanded row">
    <div class="mt-4 col-md-8">
        <h1 class="mb-4">Registro de Usuario</h1>
        <form method="post" action="/adminregister/" class="needs-validation">
            {% csrf_token %}
            
            {% for field in form %}
                <div class="mb-3">
                    <span class="badge bg-success">{{ field.label_tag }}</span> 
                    {{ field }}
                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                </div>
            {% endfor %}

            {{ error }} <br>

            <button type="submit" class="btn btn-primary mt-4">Registrarse</button>
            <div class="container mt-4">
                {% if name %}
                <p>
                    Usuario: <span class="badge bg-success">{{name}}</span> <br>
                    Contraseña: <span class="badge bg-success">{{pass}}</span>
                </p>
                {% endif %}
            </div>
        </form>
    </div>
</main>

{% endblock %}