{% extends 'base.html' %}
{% block content %}
<main class="main-expanded">
  <form action="" method="POST" class="my-4 mx-2">
      {% csrf_token %}
      <ul class="list-group">
          {% for field in form %}
              <li class="list-group-item">
                  <span class="badge bg-success mb-1">{{ field.label_tag }}</span>
                  {{ field }}
              </li>
          {% endfor %}
      </ul>
      {{ event }} <br>
      <button type="submit" class="btn btn-primary mt-3">Guardar datos</button>
  </form>
</main>

{% endblock %}