<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load compress %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- favicon -->
    <link rel="shortcut icon" href="{% static 'media_resources/logos/log2.png' %}" type="image/x-icon">
    <!-- css custom files -->
    <link rel="stylesheet" href="{% static 'css_resources/home.css' %}">
    <link rel="stylesheet" href="{% static 'css_resources/login.css' %}">
    <link rel="stylesheet" href="{% static 'css_resources/edit_account.css' %}">
    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css_resources/custom.scss' %}">
    {% endcompress %}
    <!-- Animations -->
    <link rel="stylesheet" href="{% static 'animations/card-magic.css' %}">
    <link rel="stylesheet" href="{% static 'animations/card-glow.css' %}">
    <link rel="stylesheet" href="{% static 'animations/btn-a-login.css' %}">
    <link rel="stylesheet" href="{% static 'animations/btn_stars.css' %}">
    <link rel="stylesheet" href="{% static 'animations/form-modern.css' %}">
    <link rel="stylesheet" href="{% static 'animations/btn_white_to_x.css' %}">
    <link rel="stylesheet" href="{% static 'animations/bg-squares.css' %}">
    <link rel="stylesheet" href="{% static 'animations/in-blackout.css' %}">
    <!-- fa icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Secretaría de Salud Mental de Bello</title>
    <!-- scripts -->
    <script src="{% static 'js_resources/essentials.js' %}" defer></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg bs-indigo bg-gradient" style="background: var(--bs-indigo-500);">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="{% static 'media_resources/logos/log.png' %}" class="logo" width="250" alt="logo_secretaria">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    {% if user.is_authenticated %}
                        {% if user.tipo_usuario_id == 1 %}
                        <!-- Supremo -->
                        <li class="nav-item m-1">
                            <div class=" dropdown-center">
                                <button type="button" class="btn btn_wt wtg dropdown-toggle" id="grad" data-bs-toggle="dropdown"  aria-expanded="false">
                                    <i class="fa fa-heartbeat"></i>
                                    Salud Mental
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="/sm_llamadas" class="dropdown-item">Atención urgencias</a></li>
                                    <li><a href="/sm_HPC" class="dropdown-item">Asesorías psicológicas</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a href="/sm_historial_citas" class="dropdown-item">Historial de asesorías</a></li>
                                    <li><a href="/sm_historial_llamadas" class="dropdown-item">Historial de llamadas</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a href="/pacientesView" class="dropdown-item">Pacientes</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item m-1">
                            <div class="dropdown-center">
                                <button class="btn btn_star dropdown-toggle" type="button"  data-bs-toggle="dropdown"  aria-expanded="false">
                                    <i class="fa fa-diamond"></i>
                                    Supremo
                                    <div class="star-1">
                                        <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
                                            style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                            version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                            <defs></defs>
                                            <g id="Layer_x0020_1">
                                                <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                                                <path
                                                    d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                                                    class="fil0"></path>
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="star-2">
                                        <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
                                            style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                            version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                            <defs></defs>
                                            <g id="Layer_x0020_1">
                                                <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                                                <path
                                                    d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                                                    class="fil0"></path>
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="star-3">
                                        <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
                                            style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                            version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                            <defs></defs>
                                            <g id="Layer_x0020_1">
                                                <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                                                <path
                                                    d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                                                    class="fil0"></path>
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="star-4">
                                        <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
                                            style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                            version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                            <defs></defs>
                                            <g id="Layer_x0020_1">
                                                <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                                                <path
                                                    d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                                                    class="fil0"></path>
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="star-5">
                                        <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
                                            style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                            version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                            <defs></defs>
                                            <g id="Layer_x0020_1">
                                                <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                                                <path
                                                    d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                                                    class="fil0"></path>
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="star-6">
                                        <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
                                            style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                            version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                            <defs></defs>
                                            <g id="Layer_x0020_1">
                                                <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                                                <path
                                                    d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                                                    class="fil0"></path>
                                            </g>
                                        </svg>
                                    </div>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="/adminuser" class="dropdown-item">Administrar usuarios</a></li>
                                    <li><a href="/adminregister" class="dropdown-item">Registrar usuarios</a></li>
                                    <li><a href="/informes" class="dropdown-item">Informes</a></li>
                                    <hr class="dropdown-divider">
                                    <li><a href="{% url 'edit_account' %}" class="dropdown-item">Editar cuenta</a></li>
                                    <li><a href="{% url 'autodata' %}" class="dropdown-item">Datos personales</a></li>
                                    <hr class="dropdown-divider">
                                    <li><a href="/signout" class="dropdown-item">Cerrar Sesión</a></li>
                                </ul>
                            </div>
                        </li>
                        {% elif user.tipo_usuario_id == 10 %}
                        <!-- coordinador salud mental -->
                        <li class="nav-item m-1">
                            <div class=" dropdown-center">
                                <button type="button" class="btn btn_wt wtg dropdown-toggle" id="grad" data-bs-toggle="dropdown"  aria-expanded="false">
                                    <i class="fa fa-heartbeat"></i>
                                    Salud Mental
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="/sm_llamadas" class="dropdown-item">Atención urgencias</a></li>
                                    <li><a href="/sm_HPC" class="dropdown-item">Asesorías psicológicas</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a href="/sm_historial_citas" class="dropdown-item">Historial de asesorías</a></li>
                                    <li><a href="/sm_historial_llamadas" class="dropdown-item">Historial de llamadas</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a href="/pacientesView" class="dropdown-item">Pacientes</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item m-1">
                            <div class="dropdown-center">
                                    <button type="button" class="btn btn_wt wtg dropdown-toggle"  data-bs-toggle="dropdown"  aria-expanded="false">
                                        <i class="fa fa-diamond"></i>
                                        Coordinador
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="/adminuser" class="dropdown-item">Administrar usuarios</a></li>
                                        <li><a href="/adminregister" class="dropdown-item">Registrar usuarios</a></li>
                                        <li><a href="/informes" class="dropdown-item">Informes</a></li>
                                        <hr class="dropdown-divider">
                                        <li><a href="{% url 'edit_account' %}" class="dropdown-item">Editar cuenta</a></li>
                                        <li><a href="{% url 'autodata' %}" class="dropdown-item">Datos personales</a></li>
                                        <hr class="dropdown-divider">
                                        <li><a href="/signout" class="dropdown-item">Cerrar Sesión</a></li>
                                    </ul>
                            </div>
                        </li>
                        {% elif user.tipo_usuario_id == 20 %}
                        <!-- trabajador psicologia -->
                        <li class="nav-item m-1">
                            <div class=" dropdown-center">
                                <button type="button" class="btn btn_wt wtg dropdown-toggle" id="grad" data-bs-toggle="dropdown"  aria-expanded="false">
                                    <i class="fa fa-heartbeat"></i>
                                    Salud Mental
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="/sm_llamadas" class="dropdown-item">Atención urgencias</a></li>
                                    <li><a href="/sm_HPC" class="dropdown-item">Asesorías psicológicas</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a href="/sm_historial_citas" class="dropdown-item">Historial de asesorías</a></li>
                                    <li><a href="/sm_historial_llamadas" class="dropdown-item">Historial de llamadas</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a href="/pacientesView" class="dropdown-item">Pacientes</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item m-1">
                            <div class="dropdown-center">
                                <button class="btn btn_star dropdown-toggle" type="button"  data-bs-toggle="dropdown"  aria-expanded="false">
                                    <i class="fa fa-user-circle"></i>
                                    Psicólogo
                                    <div class="star-1">
                                        <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
                                            style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                            version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                            <defs></defs>
                                            <g id="Layer_x0020_1">
                                                <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                                                <path
                                                    d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                                                    class="fil0"></path>
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="star-2">
                                        <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
                                            style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                            version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                            <defs></defs>
                                            <g id="Layer_x0020_1">
                                                <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                                                <path
                                                    d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                                                    class="fil0"></path>
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="star-3">
                                        <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
                                            style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                            version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                            <defs></defs>
                                            <g id="Layer_x0020_1">
                                                <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                                                <path
                                                    d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                                                    class="fil0"></path>
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="star-4">
                                        <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
                                            style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                            version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                            <defs></defs>
                                            <g id="Layer_x0020_1">
                                                <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                                                <path
                                                    d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                                                    class="fil0"></path>
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="star-5">
                                        <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
                                            style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                            version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                            <defs></defs>
                                            <g id="Layer_x0020_1">
                                                <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                                                <path
                                                    d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                                                    class="fil0"></path>
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="star-6">
                                        <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
                                            style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                            version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                            <defs></defs>
                                            <g id="Layer_x0020_1">
                                                <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                                                <path
                                                    d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                                                    class="fil0"></path>
                                            </g>
                                        </svg>
                                    </div>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'edit_account' %}" class="dropdown-item">Editar cuenta</a></li>
                                    <li><a href="{% url 'autodata' %}" class="dropdown-item">Datos personales</a></li>
                                    <hr class="dropdown-divider">
                                    <li><a href="/signout" class="dropdown-item">Cerrar Sesión</a></li>
                                </ul>
                            </div>
                        </li>
                        {% else %}
                        <!-- Vista de error para usuarios que no pertenecen a ninguna de las opciones anteriores -->
                        <li class="nav-item m-1">
                            <div class=" dropdown-center">
                                <button type="button" class="btn btn_wt wtg dropdown-toggle" id="grad" data-bs-toggle="dropdown"  aria-expanded="false">
                                    <i class="fa fa-heartbeat"></i>
                                    Salud Mental
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="/404_restricted_area" class="dropdown-item">Atención urgencias</a></li>
                                    <li><a href="/404_restricted_area" class="dropdown-item">Asesorías psicológicas</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a href="/404_restricted_area" class="dropdown-item">Historial de asesorías</a></li>
                                </ul>
                            </div>
                        </li>
                        {% endif %}
                    {% else %}
                        <!-- Vista para usuarios que no tengan sesion iniciada -->
                        <li class="nav-item m-1">
                            <a href="/signin">
                                <button class="btn_star">
                                    Iniciar Sesion
                                    <i class="fa fa-sign-in"></i>
                                    <div class="star-1">
                                        <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
                                            style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                            version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                            <defs></defs>
                                            <g id="Layer_x0020_1">
                                                <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                                                <path
                                                    d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                                                    class="fil0"></path>
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="star-2">
                                        <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
                                            style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                            version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                            <defs></defs>
                                            <g id="Layer_x0020_1">
                                                <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                                                <path
                                                    d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                                                    class="fil0"></path>
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="star-3">
                                        <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
                                            style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                            version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                            <defs></defs>
                                            <g id="Layer_x0020_1">
                                                <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                                                <path
                                                    d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                                                    class="fil0"></path>
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="star-4">
                                        <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
                                            style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                            version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                            <defs></defs>
                                            <g id="Layer_x0020_1">
                                                <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                                                <path
                                                    d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                                                    class="fil0"></path>
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="star-5">
                                        <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
                                            style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                            version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                            <defs></defs>
                                            <g id="Layer_x0020_1">
                                                <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                                                <path
                                                    d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                                                    class="fil0"></path>
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="star-6">
                                        <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
                                            style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                            version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                            <defs></defs>
                                            <g id="Layer_x0020_1">
                                                <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                                                <path
                                                    d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                                                    class="fil0"></path>
                                            </g>
                                        </svg>
                                    </div>
                                </button>
                            </a>
                        </li>
                    {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    {% block content %}
    {% endblock %}
    <footer class="bg-gradient text-light p-4 text-center" style="background: var(--bs-indigo-500);">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center">
                    <h3>Horarios de atención</h3>
                    <h6>Lunes a Jueves 7am a 12m - 1pm a 5pm <br>Viernes hasta las 4</h6>
                    <p class="">
                        604 6044744 Ext. 1430 <br>
                        Secretariadesalud@bello.gov.co <br>
                    </p>
                </div>
                <div class="col-md-4 text-center">
                    <p>&copy; Todos los derechos reservados <br> 
                        {{ year }} <br> 
                        Secretaría de Salud Mental de Bello <br>
                    </p>
                </div>
                <div class="col-md-4 align-items-center">
                    <a class="navbar-brand" href="/">
                        <img src="{% static 'media_resources/logos/log.png' %}" class="logo" width="300" alt="logo_secretaria">
                    </a>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>