{% extends 'base.html' %}
{% block content %}
<main id="main_edit_account" class="area">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
</ul>
    <div class="turn-card">
        <div class="turn-card-inner">
            <div class="turn-card-front">
                <h3>Datos de la cuenta</h3>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit">Actualizar Datos</button>
                </form>
            </div>



            <div class="turn-card-back">
                <h3>Cambiar contraseña</h3>
            <form action="" method="POST">
                <input type="password" placeholder="Contraseña">
                <input type="password" placeholder="Contraseña nueva">
                <input type="password" placeholder="Confirmar contraseña nueva">
                <button type="submit">Actualizar Contraseña</button>
            </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}