{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- Swiper CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<main class="main-expanded" id="main-home">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-md-6 py-4">
                <h1 class="m-lg-1 m-0 flex align-items-center text-break text-brand">
                    Secretaría de salud de Bello
                </h1>
            </div>
            <div class="col-md-6 py-4">
                <div class="img-fluid">
                    <img src="https://ansv.gov.co/sites/default/files/imagenes/LOGO%20COLOMBIA%20POTENCIA%20DE%20LA%20VIDA-TRANSPORTE.png" alt="" class="logo-gob">
                </div>
            </div>
        </div>
    </div>

    <div class="swiper mySwiper mx-auto">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img src="{% static 'images/banner.jpg' %}" alt="banner bello" class="img-fluid" id=""></div>
          <div class="swiper-slide"><img src="{% static 'images/banner.jpg' %}" alt="banner bello" class="img-fluid" id=""></div>
          <div class="swiper-slide"><img src="{% static 'images/banner.jpg' %}" alt="banner bello" class="img-fluid" id=""></div>
          <div class="swiper-slide"><img src="{% static 'images/banner.jpg' %}" alt="banner bello" class="img-fluid" id=""></div>
          <div class="swiper-slide"><img src="{% static 'images/banner.jpg' %}" alt="banner bello" class="img-fluid" id=""></div>
          <div class="swiper-slide"><img src="{% static 'images/banner.jpg' %}" alt="banner bello" class="img-fluid" id=""></div>
          <div class="swiper-slide"><img src="{% static 'images/banner.jpg' %}" alt="banner bello" class="img-fluid" id=""></div>
          <div class="swiper-slide"><img src="{% static 'images/banner.jpg' %}" alt="banner bello" class="img-fluid" id=""></div>
          <div class="swiper-slide"><img src="{% static 'images/banner.jpg' %}" alt="banner bello" class="img-fluid" id=""></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    
    <section class="bg-semilight mb-4 mt-4 w-50 mx-auto p-4 rounded-2"> <!-- w-80 establece el ancho al 80%, mx-auto centra la sección -->
        <div class="row">
            <div class="col-md-4">   
                <p class="mb-0"><span class="badge bg-info"><i class="fa fa-whatsapp"></i> Llámanos</span></p>
                <p class="mb-0"><b>305 435 69 30</b></p>
            </div>
            <div class="col-md-4">
                <p class="mb-0"><span class="badge bg-info">Dirección</span></p>
                <p class="mb-0"><b>Calle 65 a 12</b></p>
            </div>
            <div class="col-md-4">
                <p class="mb-0"><span class="badge bg-info">Horarios de atención</span></p>
                <p class="mb-0"><b>8am-12m y 1pm-4pm</b></p>
            </div>
        </div>
    </section>
    
    

</main>
<!-- Swiper JS -->
<script>
    var swiper = new Swiper(".mySwiper", {
    slidesPerView: 3,
    spaceBetween: 30,
    pagination: {
        el: ".swiper-pagination",
        clickable: true,
    },
    });
</script>

{% endblock %}