{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- Swiper CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<main class="main-expanded" id="main-home">
    <div class="container p-0 mt-4 mb-4">
        <div class="row no-gutters ">
            <div class="col-sm-12 col-md-6 py-4 text-center"> 
                <span class="badge bg-info p-3">
                    <h1 class="m-lg-1 m-0 text-break text-brand text-truncate">
                        Secretaría de Salud <br> de Bello <span class="badge bg-success"><i class="fa fa-flag ml-2"></i></span>
                    </h1>
                </span>
            </div>
            <div class="col-md-6 py-4 text-center">
                <div class="img-fluid">
                    <img src="https://ansv.gov.co/sites/default/files/imagenes/LOGO%20COLOMBIA%20POTENCIA%20DE%20LA%20VIDA-TRANSPORTE.png" alt="" class="logo-gob">
                </div>
            </div>
        </div>
    </div>

    <div class="swiper mySwiper mx-auto container w-75 mb-4">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img src="{% static 'images/banner.jpg' %}" alt="banner bello" class="img-fluid" id=""></div>
          <div class="swiper-slide"><img src="{% static 'images/banner.jpg' %}" alt="banner bello" class="img-fluid" id=""></div>
          <div class="swiper-slide"><img src="{% static 'images/banner.jpg' %}" alt="banner bello" class="img-fluid" id=""></div>
          <div class="swiper-slide"><img src="{% static 'images/banner.jpg' %}" alt="banner bello" class="img-fluid" id=""></div>
          <div class="swiper-slide"><img src="{% static 'images/banner.jpg' %}" alt="banner bello" class="img-fluid" id=""></div>
          <div class="swiper-slide"><img src="{% static 'images/banner.jpg' %}" alt="banner bello" class="img-fluid" id=""></div>
          <div class="swiper-slide"><img src="{% static 'images/banner.jpg' %}" alt="banner bello" class="img-fluid" id=""></div>
          <div class="swiper-slide"><img src="{% static 'images/banner.jpg' %}" alt="banner bello" class="img-fluid" id=""></div>
          <div class="swiper-slide"><img src="{% static 'images/banner.jpg' %}" alt="banner bello" class="img-fluid" id=""></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    
    <section class="bg-semilight mb-4 w-75 mt-5 mb-5 mx-auto p-4 rounded-2 text-center"> <!-- Ajustado a w-100 para ocupar todo el ancho en dispositivos pequeños -->
        <div class="row">
            <div class="col-md-12 col-lg-4 mb-3 mb-lg-0"> <!-- Ajustado a col-md-12 para ocupar todo el ancho en dispositivos pequeños -->
                <p class="mb-0"><span class="badge bg-info">Contáctanos</span></p>
                <p class="mb-0"><b><span class="badge bg-success"><i class="fa fa-whatsapp"></i></span> +57 305 435 6930</b></p>
                <p class="mb-0"><b><span class="badge bg-secondary"><i class="fa fa-phone"></i></span> +57 392 342 4521</b></p>
            </div>
            <div class="col-md-12 col-lg-4 mb-3 mb-lg-0">
                <p class="mb-0"><span class="badge bg-info">Dirección</span></p>
                <p class="mb-0"><span class="badge bg-warning"><i class="fa fa-map-marker"></i></span><b> Calle 65 a 12</b></p>
            </div>
            <div class="col-md-12 col-lg-4">
                <p class="mb-0"><span class="badge bg-info mb-1">Horarios de atención</span></p>
                <p class="mb-0"><span class="badge bg-secondary"> <i class="fa fa-clock-o"></i> Lunes a jueves <br> 7am a 12m y de 1pm a 5pm<br>Viernes hasta las 4pm</span><b> </b></p>
            </div>
        </div>
    </section>

</main>
<!-- Swiper JS -->
<script>
    var swiper = new Swiper(".mySwiper", {
    slidesPerView: 3,
    spaceBetween: 30,
    pagination: {
        el: ".swiper-pagination",
        clickable: true,
    },
    });
</script>

{% endblock %}