{% extends 'base.html' %}
{% block content %}
<main class="main-expanded">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <h2 class="text-center display-3 py-5">Pacientes</h2>
            <form action="" method="get" class="mb-4 card">
                <div class="row justify-content-center p-4">
                    <p class="card-title fw-bold">Filtrar pacientes <i class="fa fa-search"></i></p>

                    <div class="col-md-4 mb-3">
                        {{form.nombre.label_tag}}
                        {{form.nombre}}
                    </div>
                    <div class="col-md-4 mb-3">
                        {{form.documento_paciente.label_tag}}
                        {{form.documento_paciente}}
                    </div>
                    <button type="submit" class="btn btn-primary col-md-5">Filtrar <i class="fa fa-arrow-right"></i></button>
                </div>
            </form>

            <!-- Lista de pacientes -->

            <ul class="list-group">
                <li class="list-group-item list-group-item-action text-center">
                    <div class="row">
                        <div class="col-md-2">
                            <span class=" badge bg-primary">Documento</span>
                        </div>
                        <div class="col-md-4">
                            <span class="badge bg-black text-light">Nombre</span>
                        </div>
                        <div class="col-md-6">
                            <span class="badge bg-danger">Opciones</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</main>
{% endblock %}