{% extends 'base.html' %}

{% block content %}
<main class="main-expanded" id="main-hpc">
    {% if step == 0 %}
    <form class="container" action="" method="POST">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center text-light">Por favor ingrese el documento del paciente</h2>
                <div class="form-group mb-2">
                    <input type="text" class="form-control" name="documento" id="in_documento" placeholder="Documento del paciente">
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary" name="comprobar_documento">Continuar</button>
                </div>
            </div>
        </div>
    </form>
    {% endif %}

    {% if paciente and step == 1 %}
    <form action="" method="POST">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-md-8 row justify-content-center">
                <h1 class="text-center text-light mt-5">PACIENTE EXISTENTE</h1>
                <h4 class="text-center text-light mt-2">Verifique los datos y actualice si es necesario.</h4>

                <div class="form-group mb-2 col-md-6">
                    <label for="e_documento" class="text-light">Documento</label>
                    <input type="text" class="form-control" name="e_documento" id="e_documento" readonly value="{{paciente.documento}}">
                </div>
                <div class="form-group mb-2 col-md-6">
                    <label for="e_tipo_documento" class="text-light">Tipo de documento</label>
                    <select name="e_tipo_documento" class="form-select" id="e_tipo_documento">
                        {% for tipo_documento in tipos_documento %}
                        <option value="{{ tipo_documento.id }}" {% if tipo_documento.id == paciente.tipo_documento_id %}selected{% endif %}>
                            {{ tipo_documento.description }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                

               <div class="form-group mb-2 col-md-6">
                    <label for="e_nombre" class="text-light">Nombre</label>
                    <input type="text" class="form-control" name="e_nombre" id="e_nombre" value="{{ paciente.nombre }}">
               </div>

               <div class="form-group mb-2 col-md-3">
                    <label for="e_fecha_nacimiento" class="text-light">Fecha de nacimiento</label>
                    <input type="date" name="e_fecha_nacimiento" class="form-control" id="fecha_nacimiento"
                        value="{{ paciente.fecha_nacimiento|date:'Y-m-d' }}">
               </div>

               <div class="form-group mb-2 col-md-3">
                    <label for="e_edad" class="text-light">Edad:</label>
                    <input type="text" class="form-control" name="e_edad" id="e_edad" value="{{paciente.edad}}">
               </div>

               <div class="form-group mb-2 col-md-4">
                    <label for="e_sexo" class="text-light">Sexo</label>
                    <select name="e_sexo" class="form-select" id="e_sexo">
                        {% for sexo in sexos %}
                        <option value="{{sexo.id}}" {% if sexo.id == paciente.sexo_id %}selected{% endif %}>
                            {{sexo.description}}</option>
                        {% endfor %}
                    </select>
               </div>

               <div class="form-group mb-2 col-md-4">
                    <label for="e_direccion" class="text-light">Dirección</label>
                    <input type="text" name="e_direccion" class="form-control" id="e_direccion" placeholder="Dirección de residencia"
                        value="{{paciente.direccion}}">
               </div>

               <div class="form-group mb-2 col-md-4">
                    <label for="e_barrio" class="text-light">Barrio</label>
                    <input type="text" name="e_barrio" class="form-control" id="e_barrio" placeholder="Barrio de residencia" value="{{paciente.barrio}}">
               </div>
            
               <div class="form-group mb-2 col-md-4">
                    <label for="e_escolaridad" class="text-light">Escolaridad</label>
                    <select name="e_escolaridad" class="form-select" id="e_escolaridad">
                        {% for escolaridad in escolaridades %}
                        <option value="{{escolaridad.id}}" {% if escolaridad.id == paciente.escolaridad_id %}selected{% endif %}>
                            {{escolaridad.description}}</option>
                        {% endfor %}
                    </select>
               </div>
               <div class="form-group mb-2 col-md-4">
                    <label for="e_hijos" class="text-light">Numero de hijos</label>
                    <input type="number" class="form-control" name="e_hijos" id="e_hijos" value="{{paciente.numero_hijos}}">
               </div>
               <div class="form-group mb-2 col-md-4">
                    <label for="e_estado_civil" class="text-light">Estado civil</label>
                    <select name="e_estado_civil" class="form-select" id="e_estado_civil">
                        {% for estado in estados_civil %}
                        <option value="{{estado.id}}" {% if estado.id == paciente.estado_id %}selected{% endif %}>
                            {{estado.description}}</option>
                        {% endfor %}
                    </select>
               </div>

               <div class="form-group mb-2 col-md-3">
                    <label for="e_celular" class="text-light">No. Celular</label>
                    <input type="text" name="e_celular" class="form-control" id="e_celular" placeholder="Numero de celular del paciente"
                        value="{{paciente.celular}}">
               </div>
               <div class="form-group mb-2 col-md-3">
                    <label for="e_correo" class="text-light">Correo</label>
                    <input type="email" name="e_correo" class="form-control" id="e_correo" value="{{paciente.correo}}" placeholder="Correo electrónico">
               </div>
               <div class="form-group mb-2 col-md-3">
                    <label for="e_lectoescritura" class="text-light">Lectoescritura</label>
                    <select name="e_lect" class="form-select" id="e_lectoescritura">
                        {% for lec in lectoescrituras %}
                        <option value="{{lec.id}}" {% if lec.id == paciente.lectoescritura_indicador_id %}selected{% endif %}>
                            {{lec.description}}</option>
                        {% endfor %}
                    </select>
               </div>
               <div class="form-group mb-2 col-md-3">
                    <label for="e_lect_nivel" class="text-light">Nivel de lectoescritura</label>
                    <select name="e_lect2" class="form-select" id="e_lect_nivel">
                        {% for lec_n in lectoescritura_nivel %}
                        <option value="{{lec_n.id}}" {% if lec_n.id == paciente.lectoescritura_nivel_id %}selected{% endif %}>
                            {{lec_n.description}}</option>
                        {% endfor %}
                    </select>
               </div>
               <div class="form-group mb-2 col-md-3">
                    <label for="e_raz_analitico" class="text-light">Razonamiento analítico</label>
                    <select name="e_raz_analitico" id="e_raz_analitico" class="form-select">
                        {% for raz in razonamiento_analitico %}
                        <option value="{{raz.id}}" {% if raz.id == paciente.razonamiento_analitico_id %}selected{% endif %}>
                            {{raz.description}}</option>
                        {% endfor %}
                    </select>
               </div>
               
                <div class="form-group mb-2 col-md-3">
                    <label for="e_etnia" class="text-light">Etnia</label>
                    <select name="e_etnia" class="form-select" id="e_etnia">
                        {% for etnia in etnias %}
                        <option value="{{etnia.id}}" {% if etnia.id == paciente.etnia_id %}selected{% endif %}>
                            {{etnia.description}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group mb-2 col-md-3">
                    <label for="e_ocupacion" class="text-light">Ocupación</label>
                    <select name="e_ocupacion" id="e_ocupacion" class="form-select">
                        {% for ocupacion in ocupaciones %}
                        <option value="{{ocupacion.id}}" {% if ocupacion.id == paciente.ocupacion_id %}selected{% endif %} >
                            {{ocupacion.description}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group mb-2 col-md-3">
                    <label for="e_rss" class="text-light">Regimen de seguridad social</label>
                    <select name="e_rss" id="e_rss" class="form-select">
                        {% for rss in rsss %}
                        <option value="{{rss.id}}" {% if rss.id == paciente.regimen_seguridad_id %}selected{% endif %} >
                            {{rss.description}}</option>
                        {% endfor %}
                    </select>
                </div>
                
                <div class="form-group mb-2 col-md-3 row justify-content-center"></div>
                <div class="form-group mb-2 col-md-3">
                    <label for="eps" class="text-light">Nombre de la EPS</label>
                    <select name="eps" id="eps" class="form-select">
                        {% for eps in epss %}
                        <option value="{{eps.id}}" {% if eps.id == paciente.eps_id %}selected{% endif %} >
                            {{eps.description}}</option>
                        {% endfor %}
                    </select>

                </div>
                <div class="form-group mb-2 col-md-3 row justify-content-center">
                    <label for="" class="text-light">¿Tiene sisbén?</label>
                    <input type="checkbox" name="e_sisben" class="form-check" id="e_sisben" {% if paciente.sisben %}checked{% endif %}>
                </div>
                <div class="form-group mb-2 col-md-3 row justify-content-center"></div>
                

                <div class="form-group mb-2 col-md-2 mb-5">
                    <button type="submit" name="actualizar_usuario" class="btn btn-success">Continuar</button>
                </div>
            </div>
        </div>
    </form>
    {% endif %}

    {% if not paciente and step == 1 %}
    <form action="" method="POST">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-md-8 row justify-content-center">
                <h1 class="text-center text-light mt-5">PACIENTE NO EXISTE</h1>
                <h2 class="text-center text-light mt-2">Registro de un nuevo paciente</h2>
                <div class="form-group mb-2 col-md-6">
                    <label for="documento" class="text-light">Documento</label>
                    <input type="text" name="documento_bait" class="form-control" id="documento_bait" value="{{documento}}">
                    <input type="hidden" name="documento" id="documento" value="{{documento}}">
                </div>
                
                <div class="form-group mb-2 col-md-6">
                    <label for="tipo_documento" class="text-light">Tipo de documento</label>
                    <select name="tipo_documento" class="form-select" id="tipo_documento">
                        <option value="-1">Seleccione...</option>
                        {% for tipo_documento in tipos_documento %}
                        <option value="{{tipo_documento.id}}">{{tipo_documento.description}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group mb-2 col-md-3">
                    <label for="nombre" class="text-light">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Nombre">
                </div>
                <div class="form-group mb-2 col-md-3">
                    <label for="apellido" class="text-light">Apellido</label>
                    <input type="text" class="form-control" name="apellido" id="apellido" placeholder="Apellido">
                </div>
                <div class="form-group mb-2 col-md-3">
                    <label for="fecha_nacimiento" class="text-light">Fecha de nacimiento</label>
                    <input type="date" class="form-control" name="fecha_nacimiento" id="fecha_nacimiento">
                </div>
                <div class="form-group mb-2 col-md-3">
                    <label for="edad" class="text-light">Edad</label>
                    <input type="number" class="form-control" placeholder="Edad del paciente" name="edad" id="edad">
                </div>

                <div class="form-group mb-2 col-md-4">
                    <label for="in_sexo" class="text-light">Sexo</label>
                    <select name="sexo" class="form-select" id="sexo">
                        <option value="-1">Seleccione...</option>
                        {% for sexo in sexos %}
                        <option value="{{sexo.id}}">{{sexo.description}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group mb-2 col-md-4">
                    <label for="escolaridad" class="text-light">Escolaridad</label>
                    <select name="escolaridad" class="form-select" id="escolaridad">
                        <option value="-1">Seleccione...</option>
                        {% for escolaridad in escolaridades %}
                        <option value="{{escolaridad.id}}">{{escolaridad.description}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group mb-2 col-md-4">
                    <label for="hijos" class="text-light">Número de hijos</label>
                    <input type="number" name="hijos" class="form-control" id="hijos" placeholder="No. de hijos del paciente">
                </div>


                <div class="form-group mb-2 col-md-4">
                    <label for="direccion" class="text-light">Dirección</label>
                    <input type="text" class="form-control" name="direccion" id="direccion" placeholder="Dirección de residencia">
                </div>
                <div class="form-group mb-2 col-md-4">
                    <label for="barrio" class="text-light">Barrio</label>
                    <input type="text" class="form-control" name="barrio" id="barrio" placeholder="Barrio de residencia">
                </div>
                <div class="form-group mb-2 col-md-4">
                    <label for="estado_civil" class="text-light">Estado civil</label>
                    <select name="estado_civil" class="form-select" id="estado_civil">
                        <option value="-1">Seleccione...</option>
                        {% for estado in estados_civil %}
                        <option value="{{estado.id}}">{{estado.description}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group mb-2 col-md-6">
                    <label for="celular" class="text-light">No. Celular</label>
                    <input type="text" class="form-control" name="celular" id="celular" placeholder="Numero de celular del paciente">
                </div>
                <div class="form-group mb-2 col-md-6">
                    <label for="correo" class="text-light">Correo</label>
                    <input type="email" class="form-control" name="correo" id="correo" placeholder="Correo electrónico">
                </div>

                <div class="form-group mb-2 col-md-3">
                    <label for="lectoescritura" class="text-light">Lectoescritura</label>
                    <select name="lectoescritura" class="form-select" id="lectoescritura">
                        <option value="-1">Seleccione...</option>
                        {% for lec in lectoescrituras %}
                        <option value="{{lec.id}}">{{lec.description}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group mb-2 col-md-3">
                    <label for="lect_nivel" class="text-light">Nivel de lectoescritura</label>
                    <select name="lect_nivel" class="form-select" id="lectoescritura_nivel">
                        <option value="-1">Seleccione...</option>
                        {% for lec_n in lectoescritura_nivel %}
                        <option value="{{lec_n.id}}">{{lec_n.description}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group mb-2 col-md-3">
                    <details class="mult-details">
                        <summary class="mult-summary">Cálculo del paciente</summary>
                        <ul class="mult-ul">
                            {% for calculo in calculos %}
                            <li class="mult-li">
                                <label class="mult-label"><input class="mult-input" type="checkbox" name="calc_{{calculo.id}}"
                                        value="{{calculo.id}}" />{{calculo.description}}</label>
                            </li>
                            {% endfor %}
                        </ul>
                    </details>
                </div>
                <div class="form-group mb-2 col-md-3">
                    <label for="lectoescritura_nivel" class="text-light">Razonamiento analítico</label>
                    <select name="raz_analitico" class="form-select" id="raz_analitico">
                        <option value="-1">Seleccione...</option>
                        {% for raz in razonamiento_analitico %}
                        <option value="{{raz.id}}">{{raz.description}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group mb-2 col-md-4">
                    <label for="etnia" class="text-light">Etnia</label>
                    <select name="etnia" class="form-select" id="etnia">
                        <option value="-1">Seleccione...</option>
                        {% for etnia in etnias %}
                        <option value="{{etnia.id}}">{{etnia.description}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group mb-2 col-md-4">
                    <label for="ocupacion" class="text-light">Ocupación</label>
                    <select name="ocupacion" class="form-select" id="ocupacion">
                        <option value="-1">Seleccione...</option>
                        {% for ocupacion in ocupaciones %}
                        <option value="{{ocupacion.id}}">{{ocupacion.description}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group mb-2 col-md-4">
                    <details class="mult-details">
                        <summary class="mult-summary">Población identificada por particularidades</summary>
                        <ul class="mult-ul">
                            {% for pip in pips %}
                            <li class="mult-li">
                                <label class="mult-label"><input class="mult-input" type="checkbox" name="pip_{{pip.id}}"
                                        value="{{pip.id}}" />{{pip.description}}</label>
                            </li>
                            {% endfor %}
                        </ul>
                    </details>
                </div>

                <div class="form-group mb-2 col-md-5">
                    <label for="lectoescritura_nivel" class="text-light">Regimen de seguridad social</label>
                    <select name="rss" class="form-select" id="rss">
                        <option value="-1">Seleccione...</option>
                        {% for rss in rsss %}
                        <option value="{{rss.id}}">{{rss.description}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group mb-2 col-md-2 row justify-content-center">
                    <label for="sisben" class="text-light">¿Tiene sisbén?</label>
                    <input type="checkbox" name="sisben" class="form-check" id="sisben">
                </div>
                <div class="form-group mb-2 col-md-5">
                    <label for="eps" class="text-light">Nombre de la EPS</label>
                    <select name="eps" class="form-select" id="eps">
                        <option value="-1">Seleccione...</option>
                        {% for eps in epss %}
                        <option value="{{eps.id}}">{{eps.description}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group mb-2 col-md-2 mb-5">
                    <button type="submit" class="btn btn-success" name="crear_usuario">Crear Paciente</button>
                </div>
            </div>
        </div>
    </form>
    {% endif %}

    {% if step == 2 %}
    <!-- STEP 2----------------------------- -->
    <form action="" method="POST">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-md-8 row justify-content-center">
                <h2 class="text-center text-light mt-5">Asesoría Psicológica</h2>
                <input type="hidden" name="documento" value="{{documento}}">
                <input type="hidden" name="id_prof" value="{{CustomUser.id}}">
                <input type="hidden" name="fecha_nacimiento" value="{{fecha_nacimiento}}">
                <div class="form-group mb-2 col-md-4"></div>
                <div class="form-group mb-2 col-md-4">
                    <label for="a_lugar" class="text-light">Lugar de la asesoría</label>
                    <input type="text" name="a_lugar" class="form-control" id="a_lugar">
                </div>
                <div class="form-group mb-2 col-md-4"> </div>


                <div class="form-group mb-2 col-md-4">
                    <details class="mult-details">
                        <summary class="mult-summary">Situación que origina el contacto</summary>
                        <ul class="mult-ul">
                            {% for s in hpcsituaciones %}
                            <li class="mult-li">
                                <label class="mult-label"><input class="mult-input" type="checkbox" name="sit_{{s.id}}"
                                        value="{{s.id}}" />{{s.description}}</label>
                            </li>
                            {% endfor %}
                        </ul>
                    </details>
                </div>
                <div class="form-group mb-2 col-md-4">
                    <details class="mult-details">
                        <summary class="mult-summary">Tipos de demandas</summary>
                        <ul class="mult-ul">
                            {% for d in hpcdemandas %}
                            <li class="mult-li">
                                <label class="mult-label"><input class="mult-input" type="checkbox" name="dem_{{s.id}}"
                                        value="{{d.id}}" />{{d.description}}</label>
                            </li>
                            {% endfor %}
                        </ul>
                    </details>
                </div>
                <div class="form-group mb-2 col-md-4">
                    <details class="mult-details">
                        <summary class="mult-summary">Tipos de respuestas</summary>
                        <ul class="mult-ul">
                            {% for r in hpcrespuestas %}
                            <li class="mult-li">
                                <label class="mult-label"><input class="mult-input" type="checkbox" name="r_{{s.id}}"
                                        value="{{r.id}}" />{{r.description}}</label>
                            </li>
                            {% endfor %}
                        </ul>
                    </details>
                </div>

                <div class="form-group mb-2 col-md-4"> </div>

                <h2 class="text-primary mt-5 text-center">Antecedentes psiquiatricos</h2>
               
                <div class="form-group mb-2 col-md-4">
                    <label for="" class="text-light">Diagnóstico de transtorno mental</label>
                    <textarea name="ap_trans" class="form-control" id="ap_trans" cols="30" rows="10"></textarea>
                </div>

                <div class="form-group mb-2 col-md-4">
                    <label for="" class="text-light">Categoría del diagóstico (CIE-10)</label>
                    <textarea name="ap_cate" class="form-control" id="ap_cate" cols="30" rows="10"></textarea>
                </div>
                <div class="form-group mb-2 col-md-4">
                    <label for="" class="text-light">Diagnóstico por profesional de la salud</label>
                    <textarea name="ap_diag" class="form-control"  id="ap_diag" cols="30" rows="10"></textarea>
                </div>
                <div class="form-group mb-2 col-md-4">
                    <label for="" class="text-light">Tratamiento</label>
                    <textarea name="ap_trat" class="form-control"  id="ap_trat" cols="30" rows="10"></textarea>
                </div>
                <div class="form-group mb-2 col-md-4">
                    <label for="" class="text-light">Medicamentos</label>
                    <textarea name="ap_med"  class="form-control" id="ap_med" cols="30" rows="10"></textarea>
                </div>
                <div class="form-group mb-2 col-md-4">
                    <label for="" class="text-light">Adherencia al tratamiento/medicamentos</label>
                    <textarea name="ap_adh" class="form-control" id="ap_adh" cols="30" rows="10"></textarea>
                </div>
                <div class="form-group mb-2 col-md-2"></div>
                <div class="form-group mb-2 col-md-4">
                    <label for="" class="text-light">Barreras en el acceso</label>
                    <textarea name="ap_barr" class="form-control" id="ap_barr" cols="30" rows="10"></textarea>
                </div>
                <div class="form-group mb-2 col-md-4">   
                    <label for="" class="text-light">Notas de atención:</label>
                    <textarea name="ap_notas" class="form-control" id="ap_notas" cols="30" rows="10"></textarea>
                </div>
                <div class="form-group mb-2 col-md-2"></div>
                
                <!-- II -->
                <h2 class="text-primary mt-5">Historial de consumo de sustancias psicoactivas</h2>
                
                <div class="form-group mb-2 col-md-3"></div>
                <div class="form-group mb-2 col-md-3 row justify-content-center">
                    <label for="" class="text-light">Es o ha sido consumidor</label>
                    <input type="checkbox" class="form-check" name="sp_eoa" id="sp_eoa">
                </div>
                <div class="form-group mb-2 col-md-3 row justify-content-center">
                    <label for="" class="text-light">Consumo núcleo familiar</label>
                    <input type="checkbox" class="form-check" name="sp_cf" id="sp_cf">
                </div>
                <div class="form-group mb-2 col-md-3"></div>

                <div class="form-group mb-2 col-md-3">
                    <label for="" class="text-light">Edad de inicio</label>
                    <input type="number" name="sp_edad" class="form-control" id="sp_edad">
                </div>
                <div class="form-group mb-2 col-md-3">
                    <label for="" class="text-light">Sustancia de inicio</label>
                    <select name="sp_susi" class="form-select" id="sp_susi">
                        <option value="-1">Seleccione...</option>
                        {% for s in spa %}
                        <option value="{{s.id}}">{{s.description}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group mb-2 col-md-3">
                    <label for="" class="text-light">Periodo último consumo</label>
                    <input type="date" class="form-control" name="sp_ulco" id="sp_ulco">
                </div>
                <div class="form-group mb-2 col-md-3">
                    <label for="" class="text-light">Sustancia de impacto</label>
                    <select name="sp_susim" class="form-select" id="sp_susim">
                        <option value="-1">Seleccione...</option>
                        {% for s in spa %}
                        <option value="{{s.id}}">{{s.description}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group mb-2 col-md-2"></div>
                <div class="form-group mb-2 col-md-4">
                    <label for="" class="text-light">Conductas sexuales de riesgo</label>
                    <textarea name="sp_csr"  class="form-control"id="sp_csr" cols="30" rows="10"></textarea>
                </div>
                <div class="form-group mb-2 col-md-4">
                    <label for="" class="text-light">Intervenciones previas</label>
                    <textarea name="sp_ip"  class="form-control"id="sp_ip" cols="30" rows="10"></textarea>
                </div>
                <div class="form-group mb-2 col-md-2"></div>


                <div class="form-group mb-2 col-md-2"></div>
                <div class="form-group mb-2 col-md-4">
                    <label for="" class="text-light">Vínculo</label>
                    <textarea name="sp_vi" class="form-control" id="sp_vi" cols="30" rows="10"></textarea>
                </div>
                <div class="form-group mb-2 col-md-4">
                    <label for="" class="text-light">Notas de atención</label>
                    <textarea name="sp_notas" class="form-control" id="sp_notas" cols="30" rows="10"></textarea>
                </div>
                <div class="form-group mb-2 col-md-2"></div>

                <!-- III -->
                <h2 class="text-primary mt-5">Comportamiento Suicida</h2>
        
                <div class="form-group mb-2 col-md-4">
                    <label for="" class="text-light">Presencia de ideación suicida. Magnitud y persistencia</label>
                    <select name="cs_pi" class="form-select" id="cs_pi">
                        {% for s in snn %}
                        <option value="{{s.id}}">{{s.description}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group mb-2 col-md-4">
                    <label for="" class="text-light">Presencia de planeación</label>
                    <select name="cs_pp" id="cs_pp" class="form-select">
                        {% for s in snn %}
                        <option value="{{s.id}}">{{s.description}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group mb-2 col-md-4">
                    <label for="" class="text-light">Disponibilidad de medios</label>
                    <select name="cs_dm" id="cs_dm" class="form-select">
                        {% for s in snn %}
                        <option value="{{s.id}}">{{s.description}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group mb-2 col-md-3">
                    <label for="" class="text-light">Intentos previos</label>
                    <input type="number" class="form-control" name="cs_ip" id="cs_ip">
                </div>
                <div class="form-group mb-2 col-md-3">
                    <label for="" class="text-light">Fecha último intento</label>
                    <input type="date" class="form-control" name="cs_fu" id="cs_fu">
                </div>
                <div class="form-group mb-2 col-md-3">
                    <label for="" class="text-light">Método de suicidio</label>
                    <input type="text" class="form-control" name="cs_metodo" id="cs_metodo">
                </div>
                <div class="form-group mb-2 col-md-3 row justify-content-center">
                    <label for="" class="text-light">Manejo hospitalario</label>
                    <input type="checkbox" name="cs_mh" class="form-check" id="cs_mh">
                </div>

                <div class="form-group mb-2 col-md-4">
                    <label for="" class="text-light">Letalidad</label>
                    <textarea name="cs_let" class="form-control" id="cs_let" cols="30" rows="10"></textarea>
                </div>
                <div class="form-group mb-2 col-md-4">
                    <label for="" class="text-light">Signos y síntomas psiquiatricos</label>
                    <textarea name="cs_ss" class="form-control" id="cs_ss" cols="30" rows="10"></textarea>
                </div>
                <div class="form-group mb-2 col-md-4">
                    <label for="" class="text-light">Signos y síntomas psiquiatricos</label>
                    <textarea name="cs_ss" class="form-control" id="cs_ss" cols="30" rows="10"></textarea>
                </div>
                <div class="form-group mb-2 col-md-4">
                    <label for="" class="text-light">Acontecimientos estresantes</label>
                    <textarea name="cs_ae" class="form-control" id="cs_ae" cols="30" rows="10"></textarea>
                </div>
                <div class="form-group mb-2 col-md-4">
                    <label for="" class="text-light">Factores protectores</label>
                    <textarea name="cs_fp" class="form-control" id="cs_fp" cols="30" rows="10"></textarea>
                </div>
                <div class="form-group mb-2 col-md-4">
                    <label for="" class="text-light">Red de apoyo</label>
                    <textarea name="cs_ra" class="form-control" id="cs_ra" cols="30" rows="10"></textarea>
                </div>

                <div class="form-group mb-2 col-md-4">
                    <label for="" class="text-light">Está bajo tratamiento psiquiátrico</label>
                    <select name="cs_eb" id="cs_eb" class="form-select">
                        <option value="-1">Seleccione...</option>
                        {% for s in snn %}
                        <option value="{{s.id}}">{{s.description}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group mb-2 col-md-4">
                    <label for="" class="text-light">Vive solo/Divorciado/Desempleado</label>
                    <select name="cs_ep" id="cs_ep" class="form-select">
                        <option value="-1">Seleccione...</option>
                        {% for s in ep %}
                        <option value="{{s.id}}">{{s.description}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group mb-2 col-md-4 row justify-content-center">
                    <label for="" class="text-light">Tiene historial familiar de suicidio</label>
                    <input type="checkbox" name="cs_hf" id="cs_hf" class="form-check">
                </div>

                <div class="form-group mb-2 col-md-4">
                    <label for="" class="text-light">Notas de atención</label>
                    <textarea name="cs_notas" class="form-control" id="cs_notas" cols="30" rows="10"></textarea>
                </div>

                <!-- IV -->
                <h2 class="text-primary mt-5">Antecedentes de violencia</h2>

                <div class="form-group col-md-4"></div>
                <div class="form-group col-md-4 row justify-content-center">
                    <label for="" class="text-light">Se considera víctima de algún tipo de violencia?</label>
                    <input type="checkbox" name="av_vict" class="form-check" id="av_vict">
                </div>
                <div class="form-group col-md-4"></div>

                <div class="form-group col-md-2"></div>
                <div class="form-group col-md-4">
                    <label for="" class="text-light">Tipo(s) de violencia</label>
                    <textarea name="av_tv" class="form-control" id="av_tv" cols="30" rows="10"></textarea>
                </div>

                <div class="form-group col-md-4">
                    <label for="" class="text-light">Agresor(es)</label>
                    <textarea name="av_agre" class="form-control" id="av_agre" cols="30" rows="10"></textarea>
                </div>
                <div class="form-group col-md-2"></div>

                <div class="form-group col-md-2"></div>
                <div class="form-group col-md-4">
                    <label for="" class="text-light">Institución de reporte legal (dejar vacío para NO)</label>
                    <textarea name="av_ir" class="form-control" id="av_ir" cols="30" rows="10"></textarea>
                </div>
                <div class="form-group col-md-4">
                    <label for="" class="text-light">Notas de atención</label>
                    <textarea name="av_notas" class="form-control" id="av_notas" cols="30" rows="10"></textarea>
                </div>
                <div class="form-group col-md-2"></div>


                <h2>Resultado, conducta a seguir y canalización</h2>
                <label for="">Acudió la cita?</label>
                <input type="checkbox" name="re_ac" id="re_ac">
                
                <label for="">Siguó en contacto</label>
                <input type="checkbox" name="re_sc" id="re_sc">
                
                <label for="">Interrumpió el contacto</label>
                <input type="checkbox" name="re_ic" id="re_ic">

                <label for="">Inicia en otro programa o institución</label>
                <input type="checkbox" name="re_io" id="re_io">

                <label for="">Pruebas de Tamizaje</label>
                <textarea name="re_pt" id="re_pt" cols="30" rows="10"></textarea>

                <details class="mult-details">
                    <summary class="mult-summary">Conductas a seguir</summary>
                    <ul class="mult-ul">
                        {% for cs in cas %}
                        <li class="mult-li">
                            <label class="mult-label"><input class="mult-input" type="checkbox" name="cs_{{s.id}}"
                                    value="{{cs.id}}" />{{cs.description}}</label>
                        </li>
                        {% endfor %}
                    </ul>
                </details>

                <label for="">Canalización o derivación (en blanco para ninguna)</label>
                <textarea name="re_cd" id="re_cd" cols="30" rows="10"></textarea>

                <label for="">Anotaciones libres del profesional</label>
                <textarea name="re_notas" id="re_notas" cols="30" rows="10"></textarea>

                <label for="">Seguimiento del caso</label>

                <label for="">Seguimiento #1</label>
                <textarea name="seg_1" id="seg_1" cols="30" rows="10"></textarea>
                
                <label for="">Seguimiento #2</label>
                <textarea name="seg_2" id="seg_2" cols="30" rows="10"></textarea>
                
                
                <button type="submit" name="detalles_asesoria">Guardar asesoría</button>
            </div>
        </div>
    </form>
    {% endif %}
    {% if step == 3 %}

    <div>
        <h3>Hoja de primer contacto guardada correctamente</h3>
        <button>Volver al menú</button>
        <button>Ingresar otro HPC</button>
    </div>

    {% endif %}


</main>
{% endblock %}