{% extends 'base.html' %}

{% block content %}
<main id="main_home">
    {% if step == 0 %}
    <form action="" method="POST">
        {% csrf_token %}
        <h2>Por favor ingrese el documento del paciente</h2>
        <label for="in_documento">No. documento</label>
        <input type="text" name="documento" id="in_documento" placeholder="Documento del paciente">
        <button type="submit" name="comprobar_documento">Continuar</button>
    </form>
    {% endif %}

    {% if paciente and step == 1 %}
    <form action="" method="POST">
        {% csrf_token %}
        <h1>PACIENTE EXISTENTE</h1>
        <h4>Por favor verifique los datos del paciente. (actualicelo si es necesario).</h4>

        <label for="e_documento">Documento:</label>
        <input type="text" name="e_documento" id="e_documento" readonly value="{{paciente.documento}}">

        <label for="e_nombre">Nombre</label>
        <input type="text" name="e_nombre" id="e_nombre" value="{{ paciente.nombre }}">

        <label for="e_tipo_documento">Tipo de documento:</label>
        <select name="e_tipo_documento" id="e_tipo_documento">
            {% for tipo_documento in tipos_documento %}
            <option value="{{ tipo_documento.id }}" {% if tipo_documento.id == paciente.tipo_documento_id %}selected{% endif %}>
                {{ tipo_documento.description }}
            </option>
            {% endfor %}
        </select>

        <label for="e_fecha_nacimiento">Fecha de nacimiento</label>
        <input type="date" name="e_fecha_nacimiento" id="fecha_nacimiento"
            value="{{ paciente.fecha_nacimiento|date:'Y-m-d' }}">

        <label for="e_edad">Edad:</label>
        <input type="text" name="e_edad" id="e_edad" value="{{paciente.edad}}">

        <label for="e_escolaridad">Escolaridad</label>
        <select name="e_escolaridad" id="e_escolaridad">
            {% for escolaridad in escolaridades %}
            <option value="{{escolaridad.id}}" {% if escolaridad.id == paciente.escolaridad_id %}selected{% endif %}>
                {{escolaridad.description}}</option>
            {% endfor %}
        </select>

        <label for="e_hijos">Numero de hijos</label>
        <input type="number" name="e_hijos" id="e_hijos" value="{{paciente.numero_hijos}}">

        <label for="e_sexo">Sexo</label>
        <select name="e_sexo" id="e_sexo">
            {% for sexo in sexos %}
            <option value="{{sexo.id}}" {% if sexo.id == paciente.sexo_id %}selected{% endif %}>
                {{sexo.description}}</option>
            {% endfor %}
        </select>

        <label for="e_direccion">Dirección</label>
        <input type="text" name="e_direccion" id="e_direccion" placeholder="Dirección de residencia"
            value="{{paciente.direccion}}">

        <label for="e_barrio">Barrio</label>
        <input type="text" name="e_barrio" id="e_barrio" placeholder="Barrio de residencia" value="{{paciente.barrio}}">

        <label for="e_estado_civil">Estado civil</label>
        <select name="e_estado_civil" id="e_estado_civil">
            {% for estado in estados_civil %}
            <option value="{{estado.id}}" {% if estado.id == paciente.estado_id %}selected{% endif %}>
                {{estado.description}}</option>
            {% endfor %}
        </select>

        <label for="e_celular">No. Celular</label>
        <input type="text" name="e_celular" id="e_celular" placeholder="Numero de celular del paciente"
            value="{{paciente.celular}}">

        <label for="e_correo">Correo</label>
        <input type="email" name="e_correo" id="e_correo" value="{{paciente.correo}}" placeholder="Correo electrónico">

        <label for="e_lectoescritura">Lectoescritura</label>
        <select name="e_lect" id="e_lectoescritura">
            {% for lec in lectoescrituras %}
            <option value="{{lec.id}}" {% if lec.id == paciente.lectoescritura_indicador_id %}selected{% endif %}>
                {{lec.description}}</option>
            {% endfor %}
        </select>

        <label for="e_lect_nivel">Nivel de lectoescritura</label>
        <select name="e_lect2" id="e_lect_nivel">
            {% for lec_n in lectoescritura_nivel %}
            <option value="{{lec_n.id}}" {% if lec_n.id == paciente.lectoescritura_nivel_id %}selected{% endif %}>
                {{lec_n.description}}</option>
            {% endfor %}
        </select>

        <label for="e_raz_analitico">Razonamiento analítico</label>
        <select name="e_raz_analitico" id="e_raz_analitico">
            {% for raz in razonamiento_analitico %}
            <option value="{{raz.id}}" {% if raz.id == paciente.razonamiento_analitico_id %}selected{% endif %}>
                {{raz.description}}</option>
            {% endfor %}
        </select>

        <label for="e_etnia">Etnia</label>
        <select name="e_etnia" id="e_etnia">
            {% for etnia in etnias %}
            <option value="{{etnia.id}}" {% if etnia.id == paciente.etnia_id %}selected{% endif %}>
                {{etnia.description}}</option>
            {% endfor %}
        </select>

        <label for="e_ocupacion">Ocupación</label>
        <select name="e_ocupacion" id="e_ocupacion">
            {% for ocupacion in ocupaciones %}
            <option value="{{ocupacion.id}}" {% if ocupacion.id == paciente.ocupacion_id %}selected{% endif %} >
                {{ocupacion.description}}</option>
            {% endfor %}
        </select>

        <label for="e_rss">Regimen de seguridad social</label>
        <select name="e_rss" id="e_rss">
            {% for rss in rsss %}
            <option value="{{rss.id}}" {% if rss.id == paciente.regimen_seguridad_id %}selected{% endif %} >
                {{rss.description}}</option>
            {% endfor %}
        </select>

        <label for="e_sisben">¿Tiene sisbén?</label>
        <input type="checkbox" name="e_sisben" id="e_sisben" {% if paciente.sisben %}checked{% endif %}>

        <label for="eps">Nombre de la EPS</label>
        <select name="eps" id="eps">
            {% for eps in epss %}
            <option value="{{eps.id}}" {% if eps.id == paciente.eps_id %}selected{% endif %} >
                {{eps.description}}</option>
            {% endfor %}
        </select>

        <button type="submit" name="actualizar_usuario">Continuar</button>
    </form>
    {% endif %}

    {% if not paciente and step == 1 %}
    <form action="" method="POST">
        <h1>PACIENTE NO EXISTE</h1>

        {% csrf_token %}
        <h2>Registro de un nuevo paciente</h2>
        <label for="documento">Documento:</label>

        <input type="text" name="documento_bait" id="documento_bait" value="{{documento}}">
        <input type="hidden" name="documento" id="documento" value="{{documento}}">

        <label for="tipo_documento">Tipo de documento:</label>
        <select name="tipo_documento" id="tipo_documento">
            <option value="-1">Seleccione...</option>
            {% for tipo_documento in tipos_documento %}
            <option value="{{tipo_documento.id}}">{{tipo_documento.description}}</option>
            {% endfor %}
        </select>


        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre" placeholder="Nombre">
        <label for="apellido">Apellido</label>
        <input type="text" name="apellido" id="apellido" placeholder="Apellido">
        <!-- Otros campos del formulario para la creación de un paciente -->

        <label for="fecha_nacimiento">Fecha de nacimiento</label>
        <input type="date" name="fecha_nacimiento" id="fecha_nacimiento">

        <label for="edad">Edad</label>
        <input type="number" placeholder="Edad del paciente" name="edad" id="edad">


        <label for="escolaridad">Escolaridad</label>
        <select name="escolaridad" id="escolaridad">
            <option value="-1">Seleccione...</option>
            {% for escolaridad in escolaridades %}
            <option value="{{escolaridad.id}}">{{escolaridad.description}}</option>
            {% endfor %}
        </select>

        <label for="hijos">Número de hijos</label>
        <input type="number" name="hijos" id="hijos" placeholder="No. de hijos del paciente">

        <label for="in_sexo">Sexo</label>
        <select name="sexo" id="sexo">
            <option value="-1">Seleccione...</option>
            {% for sexo in sexos %}
            <option value="{{sexo.id}}">{{sexo.description}}</option>
            {% endfor %}
        </select>


        <label for="direccion">Dirección</label>
        <input type="text" name="direccion" id="direccion" placeholder="Dirección de residencia">

        <label for="barrio">Barrio</label>
        <input type="text" name="barrio" id="barrio" placeholder="Barrio de residencia">

        <label for="estado_civil">Estado civil</label>
        <select name="estado_civil" id="estado_civil">
            <option value="-1">Seleccione...</option>
            {% for estado in estados_civil %}
            <option value="{{estado.id}}">{{estado.description}}</option>
            {% endfor %}
        </select>

        <label for="celular">No. Celular</label>
        <input type="text" name="celular" id="celular" placeholder="Numero de celular del paciente">

        <label for="correo">Correo</label>
        <input type="email" name="correo" id="correo" placeholder="Correo electrónico">

        <label for="lectoescritura">Lectoescritura</label>
        <select name="lectoescritura" id="lectoescritura">
            <option value="-1">Seleccione...</option>
            {% for lec in lectoescrituras %}
            <option value="{{lec.id}}">{{lec.description}}</option>
            {% endfor %}
        </select>

        <label for="lect_nivel">Nivel de lectoescritura</label>
        <select name="lect_nivel" id="lectoescritura_nivel">
            <option value="-1">Seleccione...</option>
            {% for lec_n in lectoescritura_nivel %}
            <option value="{{lec_n.id}}">{{lec_n.description}}</option>
            {% endfor %}
        </select>

        <details class="mult-details">
            <summary class="mult-summary">Cálculo del paciente</summary>
            <ul class="mult-ul">
                {% for calculo in calculos %}
                <li class="mult-li">
                    <label class="mult-label"><input class="mult-input" type="checkbox" name="calc_{{calculo.id}}"
                            value="{{calculo.id}}" />{{calculo.description}}</label>
                </li>
                {% endfor %}
            </ul>
        </details>


        <label for="lectoescritura_nivel">Razonamiento analítico</label>
        <select name="raz_analitico" id="raz_analitico">
            <option value="-1">Seleccione...</option>
            {% for raz in razonamiento_analitico %}
            <option value="{{raz.id}}">{{raz.description}}</option>
            {% endfor %}
        </select>

        <label for="etnia">Etnia</label>
        <select name="etnia" id="etnia">
            <option value="-1">Seleccione...</option>
            {% for etnia in etnias %}
            <option value="{{etnia.id}}">{{etnia.description}}</option>
            {% endfor %}
        </select>


        <label for="ocupacion">Ocupación</label>
        <select name="ocupacion" id="ocupacion">
            <option value="-1">Seleccione...</option>
            {% for ocupacion in ocupaciones %}
            <option value="{{ocupacion.id}}">{{ocupacion.description}}</option>
            {% endfor %}
        </select>


        <details class="mult-details">
            <summary class="mult-summary">Población identificada por particularidades</summary>
            <ul class="mult-ul">
                {% for pip in pips %}
                <li class="mult-li">
                    <label class="mult-label"><input class="mult-input" type="checkbox" name="pip_{{pip.id}}"
                            value="{{pip.id}}" />{{pip.description}}</label>
                </li>
                {% endfor %}
            </ul>
        </details>

        <label for="lectoescritura_nivel">Regimen de seguridad social</label>
        <select name="rss" id="rss">
            <option value="-1">Seleccione...</option>
            {% for rss in rsss %}
            <option value="{{rss.id}}">{{rss.description}}</option>
            {% endfor %}
        </select>

        <label for="sisben">¿Tiene sisbén?</label>
        <input type="checkbox" name="sisben" id="sisben">

        <label for="eps">Nombre de la EPS</label>
        <select name="eps" id="eps">
            <option value="-1">Seleccione...</option>
            {% for eps in epss %}
            <option value="{{eps.id}}">{{eps.description}}</option>
            {% endfor %}
        </select>


        <button type="submit" name="crear_usuario">Crear Paciente</button>
    </form>
    {% endif %}

    {% if step == 2 %}
    <!-- STEP 2----------------------------- -->
    <form action="">
        <h2>Asesoría Psicológica</h2>
        <input type="hidden" name="documento" value="{{documento}}">
        <input type="hidden" name="id_prof" value="{{CustomUser.id}}">
        <input type="hidden" name="fecha_nacimiento" value="{{fecha_nacimiento}}">
        <label for="a_lugar">Lugar de la asesoría</label>
        <input type="text" name="a_lugar" id="a_lugar">

        <!-- Multi -->
        <details class="mult-details">
            <summary class="mult-summary">Situación que origina el contacto</summary>
            <ul class="mult-ul">
                {% for s in hpcsituaciones %}
                <li class="mult-li">
                    <label class="mult-label"><input class="mult-input" type="checkbox" name="sit_{{s.id}}"
                            value="{{s.id}}" />{{s.description}}</label>
                </li>
                {% endfor %}
            </ul>
        </details>

        <!-- Multi -->
        <details class="mult-details">
            <summary class="mult-summary">Tipos de demandas</summary>
            <ul class="mult-ul">
                {% for d in hpcdemandas %}
                <li class="mult-li">
                    <label class="mult-label"><input class="mult-input" type="checkbox" name="dem_{{s.id}}"
                            value="{{d.id}}" />{{d.description}}</label>
                </li>
                {% endfor %}
            </ul>
        </details>

        <!-- Multi -->
        <details class="mult-details">
            <summary class="mult-summary">Tipos de respuestas</summary>
            <ul class="mult-ul">
                {% for r in hpcrespuestas %}
                <li class="mult-li">
                    <label class="mult-label"><input class="mult-input" type="checkbox" name="r_{{s.id}}"
                            value="{{r.id}}" />{{r.description}}</label>
                </li>
                {% endfor %}
            </ul>
        </details>

        <h4>Antecedentes psiquiatricos</h4>
        <label for="">Diagnóstico de transtorno mental</label>
        <textarea name="ap_trans" id="ap_trans" cols="30" rows="10"></textarea>

        <label for="">Categoría del diagóstico (CIE-10)</label>
        <textarea name="ap_cate" id="ap_cate" cols="30" rows="10"></textarea>
   
        <label for="">Diagnóstico por profesional de la salud</label>
        <textarea name="ap_diag" id="ap_diag" cols="30" rows="10"></textarea>
    
        <label for="">Tratamiento</label>
        <textarea name="ap_trat" id="ap_trat" cols="30" rows="10"></textarea>
    
        <label for="">Medicamentos</label>
        <textarea name="ap_med" id="ap_med" cols="30" rows="10"></textarea>
    
        <label for="">Adherencia al tratamiento/medicamentos</label>
        <textarea name="ap_adh" id="ap_adh" cols="30" rows="10"></textarea>
    
        <label for="">Barreras en el acceso</label>
        <textarea name="ap_barr" id="ap_barr" cols="30" rows="10"></textarea>
    
        <label for="">Notas de atención:</label>
        <textarea name="ap_notas" id="ap_notas" cols="30" rows="10"></textarea>
    

        <h4>Historial de consumo de sustancias psicoactivas</h4>
        <label for="">Es o ha sido consumidor</label>
        <input type="checkbox" name="sp_eoa" id="sp_eoa">

        <label for="">Edad de inicio</label>
        <input type="number" name="sp_edad" id="sp_edad">

        <label for="">Sustancia de inicio</label>
        <select name="sp_susi" id="sp_susi">
            <option value="-1">Seleccione...</option>
            {% for s in spa %}
            <option value="{{s.id}}">{{s.description}}</option>
            {% endfor %}
        </select>

        <label for="">Periodo último consumo</label>
        <input type="date" name="sp_ulco" id="sp_ulco">

        <label for="">Sustancia de impacto</label>
        <select name="sp_susim" id="sp_susim">
            <option value="-1">Seleccione...</option>
            {% for s in spa %}
            <option value="{{s.id}}">{{s.description}}</option>
            {% endfor %}
        </select>

        <label for="">Método de suicidio</label>
        <input type="text" name="sp_metodo" id="sp_metodo">

        <label for="">Conductas sexuales de riesgo</label>
        <textarea name="sp_csr" id="sp_csr" cols="30" rows="10"></textarea>

        <label for="">Intervenciones previas</label>
        <textarea name="sp_ip" id="sp_ip" cols="30" rows="10"></textarea>

        <label for="">Consumo núcleo familiar</label>
        <input type="checkbox" name="sp_cf" id="sp_cf">

        <label for="">Vínculo</label>
        <textarea name="sp_vi" id="sp_vi" cols="30" rows="10"></textarea>

        <label for="">Notas de atención</label>
        <textarea name="sp_notas" id="sp_notas" cols="30" rows="10"></textarea>
   
        <h2>Comportamiento Suicida</h2>
   
        <label for="">Presencia de ideación suicida. Magnitud y persistencia</label>
        <select name="cs_pi" id="cs_pi">
            <option value="-1">Seleccione...</option>
            {% for s in snn %}
            <option value="{{s.id}}">{{s.description}}</option>
            {% endfor %}
        </select>

        <label for="">Presencia de planeación</label>
        <select name="cs_pp" id="cs_pp">
            <option value="-1">Seleccione...</option>
            {% for s in snn %}
            <option value="{{s.id}}">{{s.description}}</option>
            {% endfor %}
        </select>

        <label for="">Disponibilidad de medios</label>
        <select name="cs_dm" id="cs_dm">
            <option value="-1">Seleccione...</option>
            {% for s in snn %}
            <option value="{{s.id}}">{{s.description}}</option>
            {% endfor %}
        </select>

        <label for="">Intentos previos</label>
        <input type="number" name="cs_ip" id="cs_ip">
   
        <label for="">Fecha último intento</label>
        <input type="date" name="cs_fu" id="cs_fu">

        <label for="">Manejo hospitalario</label>
        <input type="checkbox" name="cs_mh" id="cs_mh">
   
        <label for="">Método</label>
        <select name="cs_dm" id="cs_dm">
            <option value="-1">Seleccione...</option>
            {% for m in metodos %}
            <option value="{{m.id}}">{{m.description}}</option>
            {% endfor %}
        </select>

        <label for="">Letalidad</label>
        <textarea name="cs_let" id="cs_let" cols="30" rows="10"></textarea>

        <label for="">Signos y síntomas psiquiatricos</label>
        <textarea name="cs_ss" id="cs_ss" cols="30" rows="10"></textarea>
   
        <label for="">Está bajo tratamiento psiquiátrico</label>
        <select name="cs_eb" id="cs_eb">
            <option value="-1">Seleccione...</option>
            {% for s in snn %}
            <option value="{{s.id}}">{{s.description}}</option>
            {% endfor %}
        </select>

        <label for="">Vive solo/Divorciado/Desempleado</label>
        <select name="cs_ep" id="cs_ep">
            <option value="-1">Seleccione...</option>
            {% for s in ep %}
            <option value="{{s.id}}">{{s.description}}</option>
            {% endfor %}
        </select>

        <label for="">Acontecimientos estresantes</label>
        <textarea name="cs_ae" id="cs_ae" cols="30" rows="10"></textarea>
   
        <label for="">Historial familiar suicidio y vínculos</label>
        <input type="checkbox" name="cs_hf" id="cs_hf">
   
        <label for="">Factores protectores</label>
        <textarea name="cs_fp" id="cs_fp" cols="30" rows="10"></textarea>
   
        <label for="">Red de apoyo</label>
        <textarea name="cs_ra" id="cs_ra" cols="30" rows="10"></textarea>
   
        <label for="">Notas de atención</label>
        <textarea name="cs_notas" id="cs_notas" cols="30" rows="10"></textarea>
   
        <h2>Antecedentes de violencia</h2>
        <label for="">Se considera víctima de algún tipo de violencia?</label>
        <input type="checkbox" name="av_vict" id="av_vict">

        <label for="">Tipo(s) de violencia</label>
        <textarea name="av_tv" id="av_tv" cols="30" rows="10"></textarea>

        <label for="">Agresor(es)</label>
        <textarea name="av_agre" id="av_agre" cols="30" rows="10"></textarea>

        <label for="">Institución de reporte legal (dejar vacío para NO)</label>
        <textarea name="av_ir" id="av_ir" cols="30" rows="10"></textarea>

        <label for="">Notas de atención</label>
        <textarea name="av_notas" id="av_notas" cols="30" rows="10"></textarea>

        <h2>Resultado, conducta a seguir y canalización</h2>
        <label for="">Acudió la cita?</label>
        <input type="checkbox" name="re_ac" id="re_ac">
        
        <label for="">Siguó en contacto</label>
        <input type="checkbox" name="re_sc" id="re_sc">
        
        <label for="">Interrumpió el contacto</label>
        <input type="checkbox" name="re_ic" id="re_ic">

        <label for="">Inicia en otro programa o institución</label>
        <input type="checkbox" name="re_io" id="re_io">

        <label for="">Pruebas de Tamizaje</label>
        <textarea name="re_pt" id="re_pt" cols="30" rows="10"></textarea>

        <details class="mult-details">
            <summary class="mult-summary">Conductas a seguir</summary>
            <ul class="mult-ul">
                {% for cs in cas %}
                <li class="mult-li">
                    <label class="mult-label"><input class="mult-input" type="checkbox" name="cs_{{s.id}}"
                            value="{{cs.id}}" />{{cs.description}}</label>
                </li>
                {% endfor %}
            </ul>
        </details>

        <label for="">Canalización o derivación (en blanco para ninguna)</label>
        <textarea name="re_cd" id="re_cd" cols="30" rows="10"></textarea>

        <label for="">Anotaciones libres del profesional</label>
        <textarea name="re_notas" id="re_notas" cols="30" rows="10"></textarea>

        <label for="">Seguimiento del caso</label>

        <label for="">Seguimiento #1</label>
        <textarea name="seg_1" id="seg_1" cols="30" rows="10"></textarea>
        
        <label for="">Seguimiento #2</label>
        <textarea name="seg_1" id="seg_1" cols="30" rows="10"></textarea>
        
        
        <button type="submit" name="detalles_asesoria">Guardar asesoría</button>
    </form>
    {% endif %}


    {{step}}
</main>
{% endblock %}