{% extends 'base.html' %}
{% block content %}
{% load static %}
<script src="{% static 'js_resources/LLform.js' %}" defer></script>
<main class="main-expanded bg-gradient-blue">
  <form action="" method="POST" id="form-llamadas">
    {% csrf_token %}
    <div class="row justify-content-center">
      <h2 class="text-light mt-5 mb-3">Formulario de llamadas</h2>
      <div class="col-md-8 row justify-content-center">

        <div class="form-group col-md-4">
          <label for="in_nombre" class="text-light">Nombre</label>
          <input type="text" class="form-control" name="nombre" id="in_nombre" placeholder="Nombre del paciente">
        </div>
        <div class="form-group col-md-4">
          <label for="in_nombre" class="text-light">No. de documento</label>
          <input type="text" class="form-control" name="documento" id="in_documento">
        </div>
        <div class="form-group col-md-4">
          <label for="in_tipo_documento" class="text-light">Tipo de documento</label>
          <select name="tipo_documento" class="form-select" id="in_tipo_documento">
            <option value="-1">Seleccione...</option>
            {% for tipo_doc in tipos_documento %}
            <option value="{{tipo_doc.id}}">{{tipo_doc.description}}</option>
            {% endfor %}
          </select>
        </div>

        <div class="form-group col-md-3">
          <label for="in_sexo" class="text-light">Sexo</label>
          <select name="sexo" class="form-select" id="in_sexo">
            <option value="-1">Seleccione...</option>
            {% for sexo in sexos %}
            <option value="{{sexo.id}}">{{sexo.description}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group col-md-3">
          <label for="in_edad" class="text-light">Edad</label>
          <input type="number" class="form-control" name="edad" id="in_edad">
        </div>
        <div class="form-group col-md-3">
          <label for="in_eps" class="text-light">Eps</label>
          <select name="eps" class="form-select" id="in_eps">
            <option value="-1">Seleccione...</option>
            {% for eps in epss %}
            <option value="{{eps.id}}">{{eps.description}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group col-md-3">
          <label for="in_direccion" class="text-light">Dirección</label>
          <input type="text" name="direccion" class="form-control" id="in_direccion" placeholder="Dirección del paciente">
        </div>

        <div class="form-group col-md-3">
          <label for="in_pais" class="text-light">País</label>
          <select name="pais" class="form-select" id="in_pais">
            <option value="-1">Seleccione...</option>
            {% for pais in paises %}
            <option value="{{pais.id}}">{{pais.description}}</option>
            {% endfor %}
          </select>
        </div>

        <div class="col-md-1 d-flex align-items-center justify-content-center">
          <i class="fa fa-arrow-right"></i>
       </div>

        <div class="form-group col-md-3">
          <label for="in_departamento" class="text-light">Departamento</label>
          <select name="departamento" class="form-select" id="in_departamento">
            <option value="-1">Seleccione...</option>
          </select>
        </div>

        <div class="col-md-1 d-flex align-items-center justify-content-center">
          <i class="fa fa-arrow-right"></i>
        </div>      
      
        <div class="form-group col-md-3">
          <label for="in_municipio" class="text-light">Ciudad</label>
          <select name="municipio" class="form-select" id="in_municipio">
            <option value="-1">Seleccione...</option>
          </select>
        </div>

        <div class="form-group col-md-6">
          <label for="in_telefono" class="text-light">Telefono</label>
          <input type="text" class="form-control" name="telefono" id="in_telefono" placeholder="Teléfono del paciente">
        </div>

        <div class="form-group col-md-6">
          <label for="in_poblacion_vulnerable" class="text-light">Población vulnerable</label>
          <select name="poblacion_vulnerable" class="form-select" id="in_poblacion_vulnerable">
            <option value="-1">Seleccione...</option>
            {% for poblacion in poblacion_vulnerable %}
            <option value="{{poblacion.id}}">{{poblacion.description}}</option>
            {% endfor %}
          </select>
        </div>

        <div class="form-group col-md-6 mb-3 mt-3">
          <details class="mult-details">
            <summary class="mult-summary">Motivo de la llamada</summary>
            <ul class="mult-ul">
              {% for motivo in motivos %}
              <li class="mult-li">
                <label class="mult-label"><input class="mult-input" type="checkbox" name="mot_{{motivo.id}}"
                    value="{{motivo.id}}" />{{motivo.description}}</label>
              </li>
              {% endfor %}
            </ul>
          </details>
        </div>
        <div class="form-group col-md-6 mb-3 mt-3">
          <details class="mult-details">
            <summary class="mult-summary">Conductas a seguir</summary>
            <ul class="mult-ul">
              {% for conducta in conductas %}
              <li class="mult-li">
                <label class="mult-label"><input class="mult-input" type="checkbox" name="cond_{{conducta.id}}"
                    value="{{conducta.id}}" />{{conducta.description}}</label>
              </li>
              {% endfor %}
            </ul>
          </details>
        </div>
        
        <div class="form-group col-md-2"></div>
        <div class="form-group col-md-4">
          <label for="in_observaciones" class="text-light">Observaciones</label>
          <textarea name="observaciones" class="form-control" id="in_observaciones" cols="30" rows="10"></textarea>
        </div>
        <div class="form-group col-md-4">
          <label for="in_seguimiento24" class="text-light">Seguimiento 24 horas</label>
          <textarea name="seguimiento24" class="form-control" id="in_seguimiento24" cols="30" rows="10"></textarea>
        </div>
        <div class="form-group col-md-2"></div>
        
        <div class="form-group col-md-2"></div>
        <div class="form-group col-md-4">
          <label for="in_seguimiento48" class="text-light">Seguimiento 48 horas</label>
          <textarea name="seguimiento48" class="form-control" id="in_seguimiento48" cols="30" rows="10"></textarea>
        </div>
        <div class="form-group col-md-4">
          <label for="in_seguimiento72" class="text-light">Seguimiento 72 horas</label>
          <textarea name="seguimiento72" class="form-control" id="in_seguimiento72" cols="30" rows="10"></textarea>
        </div>
        <div class="form-group col-md-2"></div>

        <div class="col-md-3 mb-5 mt-5">
          <input type="submit" value="Guardar" class="btn btn-success">
        </div>
      </div>
    </div>
  </form>
</main>
{% endblock %}