{% extends 'base.html' %}
{% block content %}
<main id="main_home">
  <form action="" method="post">
    {% csrf_token %}
    <label for="in_nombre">Nombre</label>
    <input type="text" name="nombre" id="in_nombre" placeholder="Nombre del paciente">

    <label for="in_tipo_documento">Tipo de documento</label>
    <select name="tipo_documento" id="in_tipo_documento">
        <option value="-1">Seleccione...</option>
        {% for tipo_doc in tipos_documento %}
        <option value="{{tipo_doc.id}}">{{tipo_doc.description}}</option>
        {% endfor %}
    </select>

    <label for="in_nombre">No. de documento</label>
    <input type="text" name="documento" id="in_documento">


    <label for="in_sexo">Sexo</label>
    <select name="sexo" id="in_sexo">
        <option value="-1">Seleccione...</option>
        {% for sexo in sexos %}
        <option value="{{sexo.id}}">{{sexo.description}}</option>
        {% endfor %}
    </select>


    <label for="in_edad">Edad</label>
    <input type="number" name="edad" id="in_edad">

    <label for="in_eps">Eps</label>
    <select name="eps" id="in_eps">
        <option value="-1">Seleccione...</option>
        {% for eps in epss %}
        <option value="{{eps.id}}">{{eps.description}}</option>
        {% endfor %}
    </select>

    <label for="in_direccion">Dirección</label>
    <input type="text" name="direccion" id="in_direccion" placeholder="Dirección del paciente">

    <label for="in_pais">País</label>
    <select name="pais" id="in_pais">
        <option value="-1">Seleccione...</option>
        {% for pais in paises %}
        <option value="{{pais.id}}">{{pais.description}}</option>
        {% endfor %}
    </select>
    
    <label for="in_departamento"></label>
    <select name="departamento" id="in_departamento">
        <option value="-1">Seleccione...</option>
    </select>

    <label for="in_municipio"></label>
    <select name="municipio" id="in_municipio">
        <option value="-1">Seleccione...</option>
    </select>

    <label for="in_telefono">Telefono</label>
    <input type="text" name="telefono" id="in_telefono" placeholder="Teléfono del paciente">

    <label for="in_poblacion_vulnerable">Población vulnerable</label>
    <select name="poblacion_vulnerable" id="in_poblacion_vulnerable"multiple>
      {% for poblacion in poblacion_vulnerable %}
      <option value="{{poblacion.id}}">{{poblacion.description}}</option>
      {% endfor %}
    </select>    

    <label for="in_motivo">Motivo de la llamada</label>
    <select name="motivo" id="in_motivo" multiple>
      {% for motivo in motivos %}
      <option value="{{motivo.id}}">{{motivo.description}}</option>
      {% endfor %}
    </select>
    
    <details class="mult-details">
      <summary class="mult-summary">Conductas a seguir</summary>
      <ul class="mult-ul">
        {% for conducta in conductas %}
        <li class="mult-li">
          <label class="mult-label"><input class="mult-input" type="checkbox" name="cond_{{conducta.id}}" value="{{conducta.id}}" />{{conducta.description}}</label> 
        </li>
        {% endfor %}
      </ul>
  </details>

   
    <details class="mult-details">
        <summary class="mult-summary">Conductas a seguir</summary>
        <ul class="mult-ul">
          {% for conducta in conductas %}
          <li class="mult-li">
            <label class="mult-label"><input class="mult-input" type="checkbox" name="cond_{{conducta.id}}" value="{{conducta.id}}" />{{conducta.description}}</label> 
          </li>
          {% endfor %}
        </ul>
    </details>



    <br>

    <label for="in_observaciones">Observaciones</label>
    <textarea name="observaciones" id="in_observaciones" cols="30" rows="10"></textarea>

    <label for="in_seguimiento24">Seguimiento 24 horas</label>
    <textarea name="seguimiento24" id="in_seguimiento24" cols="30" rows="10"></textarea>

    <label for="in_seguimiento48">Seguimiento 48 horas</label>
    <textarea name="seguimiento48" id="in_seguimiento48" cols="30" rows="10"></textarea>

    <label for="in_seguimiento72">Seguimiento 72 horas</label>
    <textarea name="seguimiento72" id="in_seguimiento72" cols="30" rows="10"></textarea>

  </form>
</main>
{% endblock %}